*{
    padding:0;
    margin:0;
    }
.topheader{
    height:35px;
    background-color: grey;
    font-size: 22px;
    color: white;
    padding: 8px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.left img{
    height: 20px;
    width: 25px;
    padding-top: 2px;
}
.right img{
    height: 22px;
    width: 25px;
    padding-top: 2px;
}
.header{
    height:130px;
    font-size: 22px;
    border:1px solid grey;
}
.row{
    width: 100%;
    padding: 20px;
    padding-top: 25px;
}
.header img{
    width: 60px;
    height: 60px;
}
.hpart1{
    width:5%;
    float:left;
}
.hpart2{
    width:50%;
    float:left;
    font-size:50px;
    color:green;
}
.hpart3{
    width:10%; 
    float:right;
    background-color: green;
    text-align: center;
    padding: 10px;
    margin-right: 45px;
    border-radius: 10px;
}
.login{
    text-decoration: none;
    color:white;
}
.hpart3:hover{
    background-color: red;
    
}
.menubar{
    height:40px;
    background-color: lightgrey;
    font-size: 22px;    
}
.menubar ul{
    width:100%;
    list-style-type: none;
}
.menubar ul li{
    float:left;
}
.menubar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    font-weight: bold;
    font-family: arial;
    display: block;
    border-radius: 15px;
}
.menubar ul li a:hover{
    background-color: blue;
    color: white;
}
.menubar img{
    height: 20px;
    width: 20px;
}
.bodypart{
    height:850px;
    font-size: 22px;
}
.sectitle{
    text-align:center;
    color:red;
    font-weight: normal;
}
.courses{
    width: 90%;
    margin: 0 auto auto;
}
.coursediv{
    width:20%;
    border:1px solid lightgray;
    box-shadow: 3px 6px red;
    height: 250px;
    border-radius: 10px;
    float:left;
    margin: 3% 2%;
    text-align: center;
}
.coursediv a{
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    color: black;
    padding:10px;
}
.coursediv img{
    width: 100%;
    border-radius: 10px;
    
}
.success img{
    width: 250px;
    height: 350px;
    margin-right: 50px;
}
.about{
    font-size:22px;
    width:80%;
    margin:0 auto auto;
    text-align:center;
}
.enroll{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    font-weight: bold;
    font-family: arial;
    display: block;
    width: 60%;
    border-radius: 15px;
}
.enroll:hover{
    background-color: royalblue;
    color:peachpuff;
}
.footer{
    height: 400px;
    width: 100%;
    background-color: black;
    color: yellow;
    padding: 30px;
}
.part20{
    width: 20%;
    float: left;
    margin-right: 90px;
}
.part40{
    width: 40%;
    float: left;
}
.part20 a{
    text-decoration: none;
    color:white;
}
.footerform{
    width: 386px;
}
.btn{
    background-color: grey;
    color: white;
    
}
.loginform{
    width: 25%;
    margin: 0 auto auto;
    text-align:center;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: arial;
    }
.sub{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    width: 60%;
    border-radius: 15px;

}
.loginform input:hover{
    background-color: grey;
    color: white;
}

